<div class="container m-5 mx-auto">
  <div class="card">
    <div class="card-header">
      <strong>Home</strong>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-stripe">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th scope="col">Country</th>
          <th scope="col">Rate</th>
          <th scope="col">Enabled</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exchangeRate of exchangeRateList$ | async">
          <th scope="row"> {{ exchangeRate.id }}</th>
          <td> {{ exchangeRate.code }}</td>
          <td> {{ exchangeRate.description }}</td>
          <td> {{ exchangeRate.country }}</td>
          <td class="text-end"> {{ exchangeRate.rate  | number : '1.10'}}</td>
          <td> <span class="badge rounded-pill" [ngClass]=" exchangeRate.enabled ? 'text-bg-success' : 'text-bg-danger'"> {{ exchangeRate.enabled }} </span></td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>


